<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://gitee.com/p6481089/veterans/blob/master/HBuilder.ipa</string>
		<key>displayImageURL</key>
		<string>https://gitee.com/p6481089/veterans/blob/master/icon-57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://gitee.com/p6481089/veterans/blob/master/icon-512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ccb.vcss</key>
		<string>CCBVcss</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>C3UMR34C7V</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
